<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, possimus.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A happy satisfied customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Blanditiis, deleniti adipisci? Blanditiis voluptates sit tempora.
            Odio illum non aliquid maiores!
          </p>
          <footer>
            <div class="media">
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
              </div>
              <div class="media__image">
                <svg class="icon icon--primary quote__Line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<!-- Remade using font awesome icon  -->
<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, possimus.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A happy satisfied customer" />
          <span class="icon-container icon-container--accent">
            <span class="icon icon--white icon--font-awesome">
              <i class="fas fa-quote-left fa-2x"></i>
            </span>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Blanditiis, deleniti adipisci? Blanditiis voluptates sit tempora.
            Odio illum non aliquid maiores!
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <span class="icon">
                  <i class="fas fa-angle-right"></i>
                </span>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
